@import "tailwindcss";

@theme {
  --color-pureblack: #000000;
  --color-lime: #C3FF49;
  --color-palegrey: #FDFDFF;
  
  --font-sans: "Inter", "sans-serif";
  --font-pixel: "VT323", "Share Tech Mono", monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=VT323&display=swap');

body {
  background-color: var(--color-pureblack);
}

/* 
.bg-grid-light {
  background-size: 10px 10px;
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.15) 0.03px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0.03px, transparent 1px);
} */

.cut-corner-card {
  clip-path: polygon(
    0 0, 
    100% 0, 
    100% calc(100% - 24px), 
    calc(100% - 24px) 100%, 
    0 100%
  );
}